/* Base Type Styles Using Modular Scale ---------------------- */
body {font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.3}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin: 0; padding: 0; direction: ltr; }

p { font-family: inherit; font-weight: normal; font-size: 13px; line-height: 1.2; margin-bottom: 17px; }
p.lead { font-size: 17.5px; line-height: 1.3; margin-bottom: 17px; }

aside p { font-size: 13px; line-height: 1.35; font-style: italic; }

h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: bold; font-style: normal; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }

h1 { font-size: 44px; }

h2 { font-size: 37px; }

h3 { font-size: 27px; }

h4 { font-size: 23px; }

h5 { font-size: 17px; }

h6 { font-size: 14px; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0; }

.subheader { line-height: 1.3; color: #6f6f6f; font-weight: 300; margin-bottom: 17px; }

em, i { font-style: italic; line-height: inherit; }

strong, b { font-weight: bold; line-height: inherit; }

small { font-size: 60%; line-height: inherit; }

code { font-weight: bold; background: #ffff99; }

#product-details input {padding-right:8px;}



/* Lists ---------------------- */
ul, ol, dl { font-size: 14px; line-height: 1.2; margin-bottom: 17px; list-style-position: outside; }

ul li ul, ul li ol { margin-left: 20px; margin-bottom: 0; }
ul.square, ul.circle, ul.disc { margin-left: 17px; }
ul.square { list-style-type: square; }
ul.square li ul { list-style: inherit; }
ul.circle { list-style-type: circle; }
ul.circle li ul { list-style: inherit; }
ul.disc { list-style-type: disc; }
ul.disc li ul { list-style: inherit; }
ul.no-bullet { list-style: none; }
ul.large li { line-height: 21px; }

ol { margin-left: 20px; }
ol li ul, ol li ol { margin-left: 20px; margin-bottom: 0; }

/* Links ------------------------ */
a {color: rgb(14, 125, 158); cursor:pointer;}
a:hover, a:focus {color: rgb(3, 84, 108)}



.mc-button, #checkout-form .stripe-button-el {
  -moz-box-shadow:inset 0px 1px 0px 0px #50646b;
  -webkit-box-shadow:inset 0px 1px 0px 0px #50646b;
  box-shadow:inset 0px 1px 0px 0px #50646b;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005b7f), color-stop(1, #1f7394) );
  background:-moz-linear-gradient( center top, #005b7f 5%, #1f7394 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005b7f', endColorstr='#1f7394');
  background-color:#005b7f;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:14px;
  font-weight:bold;
  padding:0px;
  text-decoration:none;
}
.mc-button:hover, #checkout-form .stripe-button-el:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1f7394), color-stop(1, #005b7f) );
  background:-moz-linear-gradient( center top, #1f7394 5%, #005b7f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f7394', endColorstr='#005b7f');
  background-color:#1f7394;
}
.mc-button:active, #checkout-form .stripe-button-el:active {
  position:relative;
  top:1px;
}

#product-details .mc-button {
  padding:6px 24px;
  cursor:pointer;
}

/*.stripe-button-el {
    -moz-user-select: none;
    background-image: linear-gradient(rgb(14, 125, 158), #015E94) !important;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 1px;
    text-decoration: none;
    visibility: visible !important;
}*/

#checkout-form .stripe-button-el span {
    display: block;
    position: relative;
    padding: 7px 12px;
    height: 30px;
    line-height: inherit;
    background: none;
    font-size: inherit;
    color: inherit;
    font-weight: bold;
    font-family: inherit;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    border-radius: 0px;
}

}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


@font-face {
    font-family: 'WhitehallRegular';
    src: url('fonts/whitehall-webfont.eot');
    src: url('fonts/whitehall-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/whitehall-webfont.woff') format('woff'),
         url('fonts/whitehall-webfont.ttf') format('truetype'),
         url('fonts/whitehall-webfont.svg#WhitehallRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RedressedRegular';
    src: url('fonts/Redressed-webfont.eot');
    src: url('fonts/Redressed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Redressed-webfont.woff') format('woff'),
         url('fonts/Redressed-webfont.ttf') format('truetype'),
         url('fonts/Redressed-webfont.svg#RedressedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*** modernistcat ****/
body  {color:rgb(49, 49, 47);}
h1, h2, h3, h4, h5, h6, legend {color:rgb(103, 104, 88);}


#content { clear: both; }

.alt {
  display:block;
  text-indent: -99999px;
}

.clear {clear:both;}
.link {cursor:pointer;}
.floatleft {float:left;}

/*header*/

.header {
  margin-bottom:20px; 
}
.logo {
  background:url('images/layout/logo.png') no-repeat 0 0;
  width:400px;
  height:80px;
  background-size:400px auto; 
  float:left
}
nav {
  margin-top:70px;
}
nav ul li { float: left; display: block; margin-left: 10px;}

.social{
  background:url('images/layout/socialicons.png') no-repeat 0 0;
  height:22px;
  width:22px;
 }
.social.twitter {background-position:0 0;}
.social.facebook {background-position:0 -30px;}

.social.pinterest {background-position:0 -60px;}

/* product list */
.horizontal li {float:left;}
.productList img {width:100%;}


/* footer */
#footer {
text-align:center;
padding:40px 20px;
width:100%;
border-top:1px solid #483e32;
background-color:#fff;
font-size:.8em;
margin-top:40px;
}
#footer .minilogo {
  background:#ffffff url('images/layout/logomini.png') no-repeat 5px 0;
  width:60px;
  height:50px;
  margin:-60px auto 0 auto;
}

/* home page */
#home-products {
  background-color:rgba(224, 221, 218, .75);
  float:right;
}

#home-products li {
  width:33.3333%;
  position:relative;

}
#shopBadge {
  position:absolute;
  right:0px;
  top:0px;
}
#home-links{
  float:right;
}

.featured-links .source {
  text-transform: uppercase;
  font-size: 12px;
}
.featured-links li {
  margin-bottom:12px;
}
.featured-links .date{
  font-size: 12px;
  display:inline-block;
  color:#676858;
}

.thumbnail {
  margin-right:10px;
  margin-bottom:10px;
  background-color:#ffffff;
  
  padding-top:10px;
  font-size:.85em;

}
.thumbnail div {
  padding:10px;
  background: rgb(72, 62, 50);
  background: rgba(72, 62, 50, 0.75);
  color:#fff;
}
.thumbnail div a {
  color:#fff;
  text-decoration: none;
  font-weight:bold;
  font-size:1.1em;

}
.thumbnail:hover div {
  background: rgb(72, 62, 50);
  background: rgba(72, 62, 50, 1.0);
}
.thumbnail img {
  padding-bottom:22px;
}


/*shop page */
#shop-products li {
  width: 25%;
}

/*product pages*/
.product h2 {
  font-family: 'Handlee', cursive;
  font-weight: normal;
}

.prices {
  border-top:1px solid #676858;
  border-bottom:1px solid #676858;
  margin-top:6px;
  padding: 12px 0px;
}
#price {
  padding:2px 0px;
  display:inline-block;
}
.main-image {
  position:relative;

}
.main-image .btn {
  position :absolute;
  bottom:10px;
  right:10px;
}
.main-image pinit {
  position :absolute;
  bottom:10px;
  right:40px;
  display:none;
}

.main-image:hover .btn.larger{
  background-position:0 -20px;
}
.main-image:hover pinit {
  display:block;
}

li.selection-radio {
  display:none;
}

li.selection-tile {
  font-size:.86em;
  clear:both;
  color:#676858;
}

#product-addons ul {
  clear:left;
}

#product-addons ul ul {
  float:left;
}


.thumbs li {
  float:left;
  width:100px;
  padding-right:6px;
  padding-top:3px;
  cursor:pointer;
}
/* Tabs */
.nav-tabs {
  list-style: none;
  float:left;
  width:100%;
  background-color: rgb(215, 215, 215);
  
}
.nav-tabs li {
  float:left;
  padding:6px 12px;
  cursor:pointer;
}
.nav-tabs li:hover {
  background-color:rgb(235, 235, 235);
}

.nav-tabs li.active {
  background-color: white;
  cursor:default;
}
.tab-content {
  clear:left;
}
.tab-content ul {
  padding-left:40px;
}
/* form */
ul.form {
  list-style:none;
}
.form input {
  width:100%;
}
.form .columns {
  padding:0px 12px 12px 0px;
}
.form .columns.last{
  padding-right:0px;
}




/*product detail layout */
#product-details {
  border-bottom:1px solid rgb(72,62,50);
}
.selection.radio, .selection.radioprice {
  display:none;
}
#detail-products li{
  width: 16.66667%;
  float:left;
}



/* options */
li.tile  {
  height:20px;
  width:20px;
  float:left;
  margin-right:3px;
  text-indent: -999999px;
  border:1px solid #676858;

}

li.tile.active, li.tile.selected-hover {
  border-width: 3px;
}

li[class*='scratch'] {
  background:url('images/samples/carpet.jpg') 0 0 no-repeat;
}
li.scratch0 {background-position: 0 0} 
li.scratch1 {background-position: 0 -155px}
li.scratch2 {background-position: 0 -305px}
li.scratch3 {background-position: 0 -455px}
li.scratch4 {background-position: 0 -605px}

li[class*='laminate'] {
  background:url('images/samples/laminate.jpg') 0 0 no-repeat;
}
li.laminate0 {background-position: -67px 0} 
li.laminate1 {background-position: -67px -155px}
li.laminate2 {background-position: -67px -305px}
li.laminate3 {background-position: -67px -455px}
li.laminate4 {background-position: -67px -605px}

li[class*='laminateB'] {
  background:url('images/samples/laminate.jpg') 0 0 no-repeat;
}
li.laminateB0 {background-position: -90px 0} 
li.laminateB1 {background-position: -90px -155px}
li.laminateB2 {background-position: -90px -305px}
li.laminateB3 {background-position: -90px -455px}
li.laminateB4 {background-position: -90px -605px}
li.laminateB5 {background-position: -90px -755px}


li[class*='fleece'] {
  background:url('images/samples/fleece.jpg') 0 0 no-repeat;
}
li.fleece0 {background-position: -67px 0} 
li.fleece1 {background-position: -67px -155px}
li.fleece2 {background-position: -67px -305px}
li.fleece3 {background-position: -67px -455px}
li.fleece4 {background-position: -67px -605px}
li.fleece5 {background-position: -67px -755px}

li[class*='fabric'] {
  background:url('images/samples/fabrics.jpg') 0 0 no-repeat;
}
li.fabric0 {background-position: -67px 0} 
li.fabric1 {background-position: -67px -155px}
li.fabric2 {background-position: -67px -305px}
li.fabric3 {background-position: -67px -455px}
li.fabric4 {background-position: -67px -605px}
li.fabric5 {background-position: -67px -755px}


/*checkout */
#checkout .subtitle {
  font-size:.95em;
  margin-bottom:14px;
}
#checkout ul {
  color:rgb(103, 104, 88);
  font-size:.86em;
}

/* about us */
.aboutus .image {
  width:80%;
}
.aboutus .image-caption {
   color:rgb(103, 104, 88);
   clear:left;
   font-size:.86em;
}

.sidebar {
  padding-top:17px;background-color: rgba(224, 221, 218, 0.75);
}
.sidebar ul {
  list-style: none;
}
.sidebar .subtitle {
  text-transform: uppercase;
  font-size:12px;
  line-height: 1.2;
  clear:left;
  padding-bottom:3px;
}

.sidebar .icon {
  float:left;
  width:40px;
  padding-right:6px;
  padding-bottom:12px;
}

