
<h5>Highlighted Features</h5>
<ul class="no-bullet featured-links">
<li ng-repeat="link in links | filter:onHomePage | orderBy:orderByDate:true">
  <div class="source">{{link.source}} - <span class="date">{{link.date}}</span> </div><a href="{{link.url}}">{{link.title}}</a> 
 </li>
 </ul>
 <h6>Archived Features</h6>
<ul class="no-bullet featured-links">
<li ng-repeat="link in links | filter:notonHomePage | orderBy:orderByDate:true">
  <div class="source">{{link.source}} - <span class="date">{{link.date}}</span></div><a href="{{link.url}}">{{link.title}}</a> 
 </li>
 </ul>
