<div id="home">
	<div class="twelve columns">
		<div ng-include src="'partials/carousel.html'" ng-controller="CarouselDemoCtrl"></div>
	</div> 
</div>
<div class="">
	<div id="home-products" class="eight columns">
		<div class="productlist" ng-include src="'partials/products.html'" ng-controller="ProductListCtrl"></div>
	</div>
	<div id="home-links" class="four columns featured-links">
		<div class="linkslist" ng-include src="'partials/links.html'" ng-controller="LinkListCtrl"></div>
	</div>	
</div>
