
	<div class="twelve columns"><div id="shopBadge">
      free shipping!
    </div>
	<h5>{{productlist.title}}</h5>	<p ng-bind-html-unsafe="productlist.intro">
 </p>
    <ul class="productList horizontal no-bullet">

      	

      	<li class="product" ng-repeat="product in products">
			<div class="thumbnail">
				<a href="#/products/{{product.id}}" title="{{product.subtitle}}" class="title"><img ng-src="{{product.imageUrl}}" /></a> 
				<div ng-class="{ active: activePath=='/products/{{product.id}}' }">
					<span>
						<a href="#/products/{{product.id}}" title="{{product.subtitle}}" class="title"> {{product.name}}</a><br/>{{product.subtitle}}<br/>${{product.price}}</span>
				</div>
			</div>
		</li>
      		
  	</ul>
    </div>
