
	<div class="twelve columns"><div id="shopBadge">
      Free Shipping!
    </div>
	<h5>The Circa50 Collection</h5>	<p>The Circa50 Collection
Designed with you and your pet in mind; our mid-century modern inspired line of litter box covers and dual-purpose furniture caters to your sense of style AND your need to spoil your pet! </p>
    <ul class="productList horizontal no-bullet">

      	<thumbnail ng-repeat="product in products" name={{product.name}} subtitle={{product.subtitle}} prodID={{product.id}} price={{product.price}}><img ng-src="{{product.imageUrl}}" /></thumbnail>
      		
  	</ul>
    </div>
